{% extends 'mailings/base.html' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Список сообщений</h1>
    <a href="{% url 'mailings:message_create' %}" class="btn btn-primary">Новое сообщение</a>
<ol class="list-group list-group-numbered">
  {% for message in messages%}

  <li class="list-group-item">
          <a href="{% url 'mailings:message_detail' message.pk %}">{{ message.message_topic }}</a>
            {% if user == message.owner %}
          <a href="{% url 'mailings:message_update' message.pk %}" class="btn btn-secondary">Изменить</a>
          <a href="{% url 'mailings:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
      {% endif %}
  </li>
  {% empty %}
    <p>Нет сообщений</p>
  {% endfor%}
</ol>
</div>
{% endblock %}